@keyframes falling-link {
  25% {
    transform-origin: 0;
    transform: rotateZ(3deg);
  }
  75% {
    transform: translateY(calc(min(var(--dynamic-board-border), var(--maximum-board-border)) * 2)) rotateZ(3deg);
  }
  100% {
    transform: translateY(calc(min(var(--dynamic-board-border), var(--maximum-board-border)) * 3)) rotateZ(-1deg);
  }
  }