/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

:root.snake-theme-dark {
  --background-color: #000;
  --color: #00cc14;
  --background-gradient-line-color: #000;
  --background-gradient-start-color: #007f0c;
  --background-gradient-end-color: #004306;
}

:root.snake-theme-light {
  --background-color: #b6ceb4;
  --color: #000;
  --background-gradient-line-color: #b6ceb4;
  --background-gradient-start-color: #e7e7e7;
  --background-gradient-end-color: #1a1a1a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #000;
    --color: #00cc14;
    --background-gradient-line-color: #000;
    --background-gradient-start-color: #007f0c;
    --background-gradient-end-color: #004306;
  }
}